/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	 font-family: 'Poppins', sans-serif;
}

/* Variables */
:root {
    --primary-red: #D32F2F;
    --secondary-gray-dark: #424242;
    --secondary-gray-light: #E0E0E0;
    --accent-orange: #FF8A65;
    --neutral-white: #FFFFFF;
    --neutral-black: #333333;
    --neutral-gray: #555555;
}
.highlight {
    color: red;
    font-weight: bold;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--secondary-gray-light);
    color: var(--neutral-black);
}

/* ============== Header and Navbar ============== */
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: var(--neutral-white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 6px;
    border: 2px solid var(--primary-red);
    position: sticky;
    height: 70px;
}

.topnav a {
    color: var(--primary-red);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.topnav a:hover {
    background-color: var(--accent-orange);
    color: var(--neutral-white);
    transform: scale(1.1);
}

.topnav a.active {
    background-color: var(--primary-red);
    color: var(--neutral-white);
    transform: scale(1.1);
}

.topnav .image {
    padding: 4px;
    width: 70px;
}

/* ================== logout button ================== */
/* Logout Button Styles */
.logout-btn {
    background: #e74c3c;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
}

.logout-btn:hover {
    background: #c0392b;
}

.logout-btn i {
    margin-right: 5px;
}

/*======= Introduction ========= */
.introduction-container {
    padding: 20px;
    text-align: center;
    background-color: white;
}

.introduction-container p {
    font-size: 18px;
    color: #333;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 20px;
    gap: 20px;
}

.title-container h1{
    font-size: 40px;
    text-align: center;
}

.title-container img {
    width: 120px;
    height: auto;
    border-radius: 10px;
}


/* ============ Options Section  =======================*/
.options-section {
    background-color: var(--neutral-white); /* Light accent orange background */
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-container button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    background-color: var(--primary-red); /* Light gray background for buttons */
    color: var(--neutral-white); /* Black text color */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Added transition for text color */
}

.button-container button:hover {
    background-color: var(--accent-orange); /* Darker accent orange on hover */
    color: var(--neutral-white); /* White text color on hover */
}

/* Section Styles */
.section {
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 1200px;
    border: 2px solid var(--neutral-gray);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--neutral-white);
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Separate the video and explanation side */
    align-items: flex-start;
}

.media {
    flex: 1;
    max-width: 60%; /* Restrict the video container width */
    margin-right: 20px; /* Add space between video and text */
    display: flex;
    flex-direction: column; /* Stack the video and images vertically */
    align-items: center;
}

.media video {
    width: 90%; /* Make video responsive */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.small-images {
    display: flex;
    justify-content: space-between; /* Align images side by side */
    margin-top: 15px; /* Add space between video and images */
}

.image-container {
    width: 30%; /* Each image takes up 30% of the container */
    margin: 0 10px; /* Space between the images */
}

.image-container img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-content {
    flex: 1;
    max-width: 35%; /* Restrict text content width */
    margin-left: 20px; /* Space between text and video */
    text-align: left;
}

.text-content h2 {
    margin-bottom: 10px;
    font-size: 2rem;
    color: var(--neutral-black);
}

.text-content p {
    font-size: 1.5rem;
    color: var(--neutral-gray-dark);
    line-height: 1.6;
}
/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8); /* Black with opacity */
    padding-top: 60px;
    text-align: center;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    transition: transform 0.3s ease;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.close:hover,
.close:focus {
    color: #f1f1f1;
    text-decoration: none;
    cursor: pointer;
}

/* Adjust image hover effect */
.image-container img {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}




/*======= Footer ========*/
footer {
    text-align: center;
    padding: 15px;
    background-color: var(--primary-red);
    color: var(--neutral-white);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}


.navigation-buttons {
	background-color: var(--neutral-white);
	border: 2px solid var(--secondary-gray-light);
	border-radius: 10px;
	padding: 10px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navigation-buttons button {
    background-color: var(--primary-red);
    color: var(--neutral-white);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navigation-buttons button:hover {
    background-color: #b71c1c;
}


