@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* ============== Base Styles ============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
.invisible-container1, .header-container1, .trainer-container, .topnav {
    max-width: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0;
    /* opacity: 0; */
    transition: opacity 1s ease-in-out;
    position: relative;

    background: url('../img/bg-production-line.jpg') 
    center center / cover fixed no-repeat !important;
}

body.loaded {
    opacity: 1;
}

.large{
	font-size:40px;
	text-align: center;
}
.red-text {
    color: red;
	font-weight: bold;
}

.blue-text {
    color: #2e6c9f;
    font-weight: bold;
}

.blue-text-noBold {
    color: #2e6c9f;
}

/* Colors */
:root {
    --primary-blue:#00274D; /* navigation-buttons */
    --secondary-gray-dark: #424242;
    --secondary-gray-light: #E0E0E0;
    /* --accent-blue: #abc8bd; */
    --accent-blue: #abb9c8;
    --neutral-white: #FFFFFF;
    --neutral-black: #000;
    --neutral-gray: #555555;
}

body::before {
    content: "";
    position: absolute;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 59, 0.8);
    z-index: -1;
}

/* ============== Header and Navbar ============== */
header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
}
/* Flex Container for Images and Text */
.introduction-container {
    padding: 20px;
    text-align: center;
    background-color: white;
}

.introduction-container p {
    font-size: 18px;
    color: #333;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 20px;
    gap: 20px;
}

.title-container h1{
    font-size: 40px;
    text-align: center;
}

.title-container img {
    width: 120px;
    height: auto;
    border-radius: 10px;
}

/***** topnav *****/
.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 70px;
    background-color: #ffffff;
    gap: 6px;
    border: 2px solid #00274D; /* Border color */
}

.topnav a {
    color: #00274D; /* Text color */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.topnav a:hover {
    background-color: var(--accent-blue);
    color: black;
    transform: scale(1.1); /* Added scaling effect for interactivity */
}

.topnav a.active {
    background-color: #00274D;
    color: #ffffff;
    border-color: #00274D;
}

.topnav .image {
    padding: 4px;
    height: auto;
    width: 70px;
}

/* ================== logout button ================== */
/* Logout Button Styles */
.logout-btn {
    background: #e74c3c;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
}

.logout-btn:hover {
    background: #c0392b;
}

.logout-btn i {
    margin-right: 5px;
}

/* ============== Mesin Tenun Videos ============== */
#jidoka-videos {
    max-width: 989px;
    margin: 10px auto;
    padding: 20px;
    background: linear-gradient(45deg, #97bcc9, #ffd1e4);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 45px; /* Added margin to separate from other sections */
    justify-content: center;
    display: flex;
}

.simulation-box {
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin: 7px;
}

.explanation-box {
    background-color: #FFEDDF;
    padding: 20px;
    border-radius: 8px;
    margin: 7px;
}

.divider2 {
    background: linear-gradient(45deg, #e06598, #FFEDDF);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 20px;
}


.vid-container {
    /*flex: 1; /* Allow both containers to take equal width */
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin: 20px 6px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    justify-content: center;
}

.vid-container {
    margin-top: 30px;
    width: 100%;
    
}

.video-container {
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically (optional) */
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    border-radius: 5px;
    background: #000;
}

.video-wrapper video,
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

video {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.subsection {
    padding: 10px;
}

.subsection h3 {
    font-size: 1.1rem;
    color: black;
    margin-bottom: 10px;
}

.jidokaImage {
    width: 100%;
    /* height: auto;
    max-width: 800px;  
    border-radius: 4px; */
    margin-top: 20px;
}

.bg-color {
    background-color: #FFEDDF;
    padding: 20px;
    border-radius: 8px;
    margin: 7px;
}

/* ============== Pengenalan Toyota & Sistem TPS ============== */
#abnormality-control {
    max-width: 989px;
    /* max-width: 1500px; */
    margin: 10px auto;
    padding: 20px;
    /* background: linear-gradient(45deg, #a8e6cf, #dcedc1); */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 45px;
    background: linear-gradient(45deg, #97bcc9, #ffd1e4);
}

.container1 {
	/*flex: 1; /* Allow both containers to take equal width */
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin: 20px 6px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.divider {
    /* background: linear-gradient(45deg, #a8e6cf, #dcedc1); */
    background: linear-gradient(45deg, #e06598, #FFEDDF);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

/* Subsection container */
.subsection {
    padding: 10px;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    gap: 20px;
}

.subsection h3 {
    font-size: 1.1rem;
    color: black;
    margin-bottom: 10px;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.content-title {
    border-bottom: 2px dashed #ffd86e;
    background-color: #fff0bd64;
}

.flex-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-content {
    width: 25%;
    border: 2px dashed #a7bbb9;
    border-radius: 40px;
    padding: 15px;
    margin: 10px;
    text-align: center;
}

.arrowright {
    width: 55px;
    height: 55px;
    margin: 10px;
}

/* .box-content .pic {
    width: 45%;
} */

.sh-section .container1 .content-box .flex-content .box {
    display: grid;
    place-items: center;
    text-align: center
}

.isi .num {
    width: 23px;
    display: block;
    position: absolute;
    margin-right: auto;
    margin-bottom: 10px;
}

/* ============== Secara Asas ============== */
.isi {
    background-color: rgb(249, 240, 240);
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
}

.isi .pic {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.flex-content2 {
    /* for 2 elements */
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-content2 .isi .isi-flex {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.isi .pic2 {
    width: 50%;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px ;
}

.pic2-div {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px; */

    display:flex; 
    margin-top:20px; 
    width: 30%;
}

.pic2-div .pic2 {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 10px 8px;
}

/* ============== Footer Styling ============== */
footer {
    background: #00274D; /* Dark blue background */
    color: white;
    text-align: center;
    padding: 20px 0;
}
.navigation-buttons {
	background-color: var(--neutral-white);
	border: 2px solid var(--secondary-gray-light);
	border-radius: 10px;
	padding: 10px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navigation-buttons button {
    background-color: var(--primary-blue);
    color: var(--neutral-white);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navigation-buttons button:hover {
    background-color:#abb9c8;
}